@import 'styles/variables';

.row {
    height: 50px;
    transition: $quick-transition;
    cursor: pointer;
    color: $font-secondary-color;
}

.row:hover {
    background-color: $primary-black;
    transition: $quick-transition;
}
