@import 'styles/variables';

.row, .actionRow {
    height: 50px;
    transition: $quick-transition;
}

.actionRow:hover {
    cursor: pointer;
    transition: $quick-transition;
}

.light {
    color: $font-secondary-color-dark;
}

.dark {
    color: $font-secondary-color-light;
}

.light:hover {
    background-color: $primary-light;
}

.dark:hover {
    background-color: $primary-dark;
}
