@import 'styles/variables';

.row, .actionRow {
    height: 50px;
    transition: $quick-transition;
    color: $font-secondary-color;
}

.actionRow:hover {
    cursor: pointer;
    background-color: $primary-black;
    transition: $quick-transition;
}
