@import "styles/variables";

.button {
  z-index: 1;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: $primary-blue;
  border-radius: $default-border-radius;
  border: none;
  color: $font-primary-color-light;
  font-size: $medium-font-size;
  cursor: pointer;
  width: 60px;
  height: 40px;
  transition: $default-transition;
}

.highlight {
  background-color: $warning-theme;
}

.filterIcon {
  height: 100%;
}
