@import 'styles/variables';

.tilesContainer {
    display: flex;
    margin: -25px 25px 0px 25px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tile {
    flex: 1 0 21%; // 4 tiles per row and the last one take the available space
    height: 200px;
    margin: 20px;
    border-radius: $light-border-radius;
    transition: $quick-transition;
    cursor: pointer;
}

.tile:hover {
    transition: $default-transition;
}

.light {
    background-color: $ternary-light;
    color: $font-secondary-color-dark;
}

.light:hover {
    background-color: $secondary-light;
}

.dark {
    background-color: $ternary-dark;
    color: $font-secondary-color-light;
}

.dark:hover {
    background-color: $secondary-dark;
}

.tile > h3 {
    font-size: $medium-font-size;
    text-align: center;
}

.tile > p {
    text-align: center;
    margin: 50px;
    height: 30px;
    font-size: $medium-font-size;
}

.greenFont {
    color: $valid-theme;
}

.redFont {
    color: $danger-theme;
}
