@import 'styles/variables';

.button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: $primary-blue;
    border-radius: $default-border-radius;
    border: none;
    color: $font-primary-color-light;
    font-size: $medium-font-size;
    cursor: pointer;
    width: 100px;
    height: 40px;
    transition: $default-transition;
}

.highlight {
    background-color: $warning-theme;
}

.filterIcon {
    height: 100%;
}
