@import 'styles/variables';

.button {
    cursor: pointer;
    height: 40px;
    width: 150px;
    background-color: $primary-blue;
    border: none;
    border-radius: $default-border-radius;
    font-family: $font-family-roboto;
    font-size: 1em;
    font-weight: bold;
    color: $font-primary-color;
    margin: auto 0px;
    transition: $default-transition;
}
