@import 'styles/variables';

.button {
    display: flex;
    cursor: pointer;
    height: 40px;
    background-color: $primary-blue;
    border: none;
    border-radius: $default-border-radius;
    font-family: $font-family-roboto;
    font-size: 1em;
    font-weight: bold;
    color: $font-primary-color;
    margin: auto 0px;
    transition: $default-transition;
}

.button > p {
    margin: auto 0px auto 5px;
}

.addButton {
    background-color: $valid-theme;
}

.editButton {
    background-color: $warning-theme;
}
