@import 'styles/variables';

.modal {
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    background-color: $secondary-dark;
    border-radius: $default-border-radius;
    border: none;
    width: 400px;
    height: auto;
    padding: 20px;
    z-index: 0;
}

.modal > h3 {
    font-size: $medium-font-size;
    margin: auto;
    text-align: center;
}

.filterContainer {
    margin: 20px 0px;
    background-color: $primary-dark;
    border-radius: $default-border-radius;
    padding: 10px 20px;
}

.modal > div > label {
    display: flex;
    height: 30px;
}

.modal > div > label > * {
    padding-right: 10px;
    margin: auto 0px;
}

.closeIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
