@import 'styles/variables';

.breadcrumbContainer {
    display: flex;
    color: $font-secondary-color;
    margin: -40px 0px 20px $main-margin;
}

.breadcrumbContainer > a {
    margin: auto 4px;
    transition: $quick-transition;
}

.breadcrumbContainer > a:hover {
    color: $primary-blue;
    transition: $quick-transition;
}
