@import './variables';

html, body {
    font-family: $font-family, 'Arial';
    color: $font-primary-color;
    background-color: $primary-black;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
