@import './variables';

html, body {
    font-family: $font-family-roboto, 'Arial';
    color: $font-primary-color;
    background-color: $primary-black;
    padding: 0;
    margin: 0;
}

html, body, #__next, .global {
    height: 100%;
}

.global {
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.titleAndAction {
    justify-content: space-between;
    padding-right: 50px;
    height: 80px;
}

.pageContainer {
    margin: 100px $main-margin 0px $main-margin;
    flex-grow: 1;
}

.flexContainer {
    display: flex;
}
