@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto&display=swap');

$font-primary-color: #fff;
$font-family: 'Roboto';

$primary-blue: #6188ff;

$primary-black: #222531;
$secondary-black: #171924;

$border-radius: 3px;

$main-margin: 50px;
