@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto&display=swap');

$font-primary-color-light: #fff;
$font-secondary-color-light: #a1a7bb;
$primary-dark: #222531;
$secondary-dark: #171924;
$ternary-dark: #292d3f;

$font-primary-color-dark: #26272d;
$font-secondary-color-dark: #a1a7bb;
$primary-light: #f8fafb;
$secondary-light: #eaeff2;
$ternary-light: #fff;

$shadow-border-dark: #292d3f;
$shadow-border-light: #a1a7bb;

$font-family-roboto: 'Roboto';

$primary-blue: #6188ff;

$default-border-radius: 7px;
$light-border-radius: 3px;

$main-margin: 50px;

$valid-theme: #00b399;
$warning-theme: #ffc000;
$danger-theme: #f96e8f;

$default-transition: .2s;
$quick-transition: .1s;

$large-font-size: 2em;
$medium-font-size: 1.2em;
$little-font-size: .8em;

$animation-default-duration: 300ms;
