@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto&display=swap');

$font-primary-color: #fff;
$font-family: 'Roboto';

$primary-blue: #6188ff;

$primary-black: #222531;
$secondary-black: #171924;
$ternary-black: #292d3f;

$default-border-radius: 7px;
$light-border-radius: 3px;

$main-margin: 50px;

$valid-theme: #00b399;
$warning-theme: #ffc000;
$danger-theme: #f96e8f;

$default-transition: .2s;
$quick-transition: .1s
