@import 'styles/variables';

.head {
    height: 40px;
    font-weight: bold;
}

.light {
    background-color: $ternary-light;
    color: $font-primary-color-dark;
}

.dark {
    background-color: $ternary-dark;
    color: $font-primary-color-light;
}
