@import 'styles/variables';

.resumeContainer {
    display: flex;
    margin: auto $main-margin;
    border-radius: $default-border-radius;
    background-color: $ternary-black;
}

.item {
    text-align: center;
    font-size: .8em;
    width: 33.33%;
    color: $font-secondary-color;
}

.amout {
    font-weight: bold;
    color: $valid-theme;
}
