@import 'styles/variables';

.resumeContainer {
    display: flex;
    margin: auto $main-margin;
}

.light {
    color: $font-secondary-color-dark;
    background-color: $ternary-light;
}

.dark {
    color: $font-secondary-color-light;
    background-color: $ternary-dark;
}

.item {
    text-align: center;
    font-size: $little-font-size;
    width: 33.33%;
}

.amout {
    font-weight: bold;
    color: $valid-theme;
}
