@import 'styles/variables';

.resumeContainer {
    display: flex;
    margin: auto $main-margin;
    border-radius: $border-radius;
    background-color: $ternary-black;
}

.item {
    text-align: center;
    font-size: .8em;
    width: 33.33%;
}

.amout {
    font-weight: bold;
}
