@import 'styles/variables';

.header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    background-color: $secondary-black;
    height: 50px;
}

.item {
    margin: auto;
}

.logoItem {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.name {
    margin: auto;
    font-weight: bold;
    transition: $default-transition;
}

.name:hover {
    color: $primary-blue;
}
