@import 'styles/variables';

.footer {
    display: flex;
    bottom: 0;
    height: 70px;
    background-color: $secondary-black;
    margin-top: $main-margin;
}

.footer > a {
    color: $font-secondary-color;
    margin: auto 0px auto $main-margin;
    transition: $quick-transition;
}

.footer > a:hover {
    color: $primary-blue;
    transition: $quick-transition;
}
