@import 'styles/variables';

.input {
  margin: auto 20px;
  height: 30px;
  width: 120px;
  color: $ternary-black;
  padding-left: 5px;
  font-size: $little-font-size;
  font-family: $font-family-roboto;
}
