@import 'styles/variables';

.list {
    width: 50%;
    margin: $main-margin $main-margin $main-margin 25px;
    padding: 80px;
    border-radius: $default-border-radius;
    background-color: $ternary-black;
}
