@import 'styles/variables';

.tableContainer {
    margin: auto $main-margin $main-margin $main-margin;
}

.table {
    border-radius: $default-border-radius;
    width: 100%;
}

.light {
    background-color: $ternary-light;
}

.dark {
    background-color: $ternary-dark;
}

.button {
    background-color: $primary-blue;
    border: 0px;
    border-radius: $default-border-radius;
    margin: auto 8px;
    cursor: pointer;
    height: 20px;
}
