@import "styles/variables";

.modalContainer {
  z-index: 1;
  position: fixed;
  padding-top: 100px;
  left: 0rem;
  top: 0rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  animation-name: appear;
  animation-duration: $animation-default-duration;
}

.modalContent {
  border-radius: $default-border-radius;
  margin: auto;
  padding: 20px;
  width: 500px;
}

.modalThemeLight {
  background-color: $secondary-light;
}

.modalThemeDark {
  background-color: $secondary-dark;
}

.modalContent > h3 {
  font-size: $medium-font-size;
  margin: auto;
  text-align: center;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 20px 20px;
  border-radius: $default-border-radius;
}

.labelName {
  margin: auto 20px;
}

.inputThemeLight {
  background-color: $primary-light;
}

.inputThemeDark {
  background-color: $primary-dark;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
