@import 'styles/variables';

.modalContainer {
  position: fixed;
  padding-top: 100px;
  left: 0rem;
  top: 0rem;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  animation-name: appear;
  animation-duration: 300ms;
}

.modalContent {
  background-color: $secondary-black;
  border-radius: $default-border-radius;
  margin: auto;
  padding: 20px;
  width: 500px;
}

.modalContent > h3 {
  font-size: $medium-font-size;
  margin: auto;
  text-align: center;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 20px 20px;
  background-color: $primary-black;
  border-radius: $default-border-radius;
}

.inputContainer > label {
  margin: auto 20px;
}

.input {
  margin: auto 20px;
  height: 30px;
  width: 120px;
  color: $ternary-black;
  padding-left: 5px;
  font-size: $little-font-size;
  font-family: $font-family-roboto;
}

.buttonContainer > button {
  margin: auto;
  width: 150px;
  display: flex;
  justify-content: center;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
